.content {
  grid-column: 2 / 4;
  background-color: #f9fafb;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: 500;
  font-size: 1rem;
  color: #131314;
  padding: 0px 5%;

  :nth-child(1) {
    margin-top: 15%;
  }

  :nth-child(2) {
    margin-bottom: 7.5%;
  }
}

form {
  background-color: #fff;
  padding: 0px 5%;
  color: #49525D;

  h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #1F2937;
  }
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-flow: row wrap;
  width: 70%;
  column-gap: 15%;
  margin-bottom: 7%;
}

label {
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #59616C;
}

input {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 3px;
  border: 1px solid #d6d7d8;
  padding: 2.5%;
}

li {
  flex: 0 0 42.5%;
}

.error {
  border: 1px solid #BE2D2D;
}

.no-match {
  display: none;
  color: #BE2D2D;
  font-size: 0.6rem;
}
