.content {
  grid-column: 2 / 4;
  background-color: #f9fafb;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: 500;
  font-size: 1rem;
  color: #131314;
  padding: 0px 5%;

  :nth-child(1) {
    margin-top: 15%;
  }

  :nth-child(2) {
    margin-bottom: 7.5%;
  }
}

form {
  background-color: #fff;
  padding: 0px 5%;
  color: #49525D;

  h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #1F2937;
  }
}
